.aceEditor {
	background-color: #344D5F !important;
}

.ace-twilight .ace_comment {
	color: #4E7FA9 !important;
}

.ace-twilight .ace_tag,
.ace-twilight .ace_string {
	color: #F7D86D !important;
}

.ace-twilight .ace_text {
	color: #17CB82 !important;
}

.ace-twilight .ace_attribute-name {
	color: #E78842 !important;
}